# Data Import & Cleaning

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [84]:
import pandas as pd
import os
import numpy as np

## Data Import (not yet working)

In [3]:
!pwd
!ls -a

/content
.  ..  .config	drive  sample_data

In [4]:
# Create local folder for data download
path = "ACRM_data"
isExist = os.path.exists(path)
if not isExist:
  os.makedirs(path)
  print("Folder Created!")
else: print("Folder exists already!")

Folder Created!

In [9]:
# jump in folder to download data there
#!cd "ACRM_data"
os.chdir("ACRM_data")
os.getcwd()

FileNotFoundError: ignored

In [12]:
# Installing PyDrive
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [13]:
# Get file_id
file_id = '1vGSA5OOABbL1QYFMUzHLa0T08fgeA19_'
fileDownloaded = drive.CreateFile({'id':file_id})

In [14]:
# Download files
fileDownloaded.GetContentFile('Lending_Club_modelling_data_part1.txt')
fileDownloaded.GetContentFile('Lending_Club_modelling_data_part2.txt')
fileDownloaded.GetContentFile('Lending_Club_modelling_data_part3.txt')
fileDownloaded.GetContentFile('Lending_Club_modelling_data_part4.txt')

In [21]:
file1 = os.path.join(os.getcwd(), 'Lending_Club_modelling_data_part1.txt')
file2 = os.path.join(os.getcwd(), 'Lending_Club_modelling_data_part2.txt')
file3 = os.path.join(os.getcwd(), 'Lending_Club_modelling_data_part3.txt')
file4 = os.path.join(os.getcwd(), 'Lending_Club_modelling_data_part4.txt')

In [35]:
file1 = str(file1, errors='ignore')

TypeError: ignored

In [44]:
df = pd.read_csv(file1, delimiter='\t')
#df = pd.read_csv(file1, delimiter='\t', encoding= 'unicode_escape')
#df = pd.read_csv(file1, delimiter='\t', encoding= 'utf-8')
#df = pd.read_csv(file1, delimiter='\t', encoding= 'ascii')
#df = pd.read_csv(file1, delimiter='\t', engine='c')

#df.head()

UnicodeDecodeError: ignored

In [24]:
# delete files from local folder again?

##Data Import (Placeholder since part above doesn't work yet)

In [104]:
## Read data
os.chdir("/content/drive/MyDrive/Colab Notebooks/Applied_Credit_Risk_Modeling/Applied_Credit_Risk")
folder = os.path.join(os.getcwd(), "Data/")
files = os.listdir(folder)

data_part1 = pd.read_csv(folder+files[0], delimiter='\t')
data_part2 = pd.read_csv(folder+files[1], delimiter='\t')
data_part3 = pd.read_csv(folder+files[2], delimiter='\t')
data_part4 = pd.read_csv(folder+files[3], delimiter='\t')

data_list = [data_part1, data_part2, data_part3, data_part4]
data = pd.concat(data_list)
data = data.reset_index(drop=True)
data.replace('nan',np.NaN)


## Handling wrong data

# Dropping distorted row (see below)
data = data.drop(208166)

# Set type of numeric columns that weren't numeric
data["revol_util"] = pd.to_numeric(data["revol_util"])
data["total_acc"] = pd.to_numeric(data["total_acc"])
data["mort_acc"] = pd.to_numeric(data["mort_acc"])

<ipython-input-104-ccf8e8c1a787>:8: DtypeWarning: Columns (18,19,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data_part3 = pd.read_csv(folder+files[2], delimiter='\t')

In [105]:
data
#data.sort_values('open_acc', ascending=False).head()

,loan_amnt,term,int_rate,installment,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,...,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,16000,60 months,23.28,453.63,Fastenal Company,10+ years,MORTGAGE,45000.00,Verified,May-2013,...,9,0.00,12685.00,49.90,19,f,INDIVIDUAL,0.00,0.00,"19980 Rivera Plain\r\nColonton, LA 00813"
1,10000,36 months,7.89,312.86,Staff Attorney,5 years,RENT,100000.00,Verified,Feb-2016,...,6,1.00,901.00,4.00,14,w,INDIVIDUAL,0.00,1.00,"85291 Howell Greens\r\nPort Amandaville, VA 29597"
2,18000,36 months,8.90,571.56,BNY MELLON,2 years,RENT,43000.00,Verified,May-2012,...,6,0.00,18921.00,90.10,13,f,INDIVIDUAL,0.00,0.00,"401 Pratt Stream\r\nSouth Jamesberg, NH 22690"
3,11075,36 months,14.46,381.00,NaN,NaN,MORTGAGE,23100.00,Verified,Mar-2016,...,9,0.00,4683.00,57.80,14,w,JOINT,4.00,0.00,"195 Park Grove\r\nNew Stacey, TX 30723"
4,20000,36 months,9.49,640.57,Sergeant,8 years,MORTGAGE,130000.00,Source Verified,Nov-2014,...,7,0.00,12767.00,86.90,20,f,INDIVIDUAL,2.00,0.00,"2834 Logan Port\r\nEast Paulborough, WY 22690"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396025,18000,60 months,16.29,440.51,HJ Foundation,6 years,MORTGAGE,46072.00,Verified,May-2013,...,15,0.00,12989.00,57.00,28,f,INDIVIDUAL,1.00,0.00,"754 Wilson Divide\r\nNorth Laurenport, WA 93700"
396026,8000,36 months,7.62,249.30,BD Director,1 year,MORTGAGE,70000.00,Not Verified,Feb-2014,...,12,0.00,27157.00,29.30,20,w,INDIVIDUAL,0.00,0.00,"0625 Murphy Islands Apt. 842\r\nNorth Dwayne, ..."
396027,24000,60 months,14.47,564.31,NaN,10+ years,MORTGAGE,200000.00,Source Verified,Jan-2014,...,12,0.00,15597.00,29.80,31,f,INDIVIDUAL,3.00,0.00,"044 Courtney Parks Apt. 449\r\nBradleystad, MN..."
396028,25000,36 months,14.61,861.88,TriNet,< 1 year,RENT,120000.00,Verified,Oct-2009,...,9,0.00,78468.00,84.30,18,f,INDIVIDUAL,NaN,0.00,1804 James Landing Suite 300\r\nNew Jillianpor...
396029,14100,36 months,11.49,464.90,Pavia-Marting & Co.,5 years,MORTGAGE,51900.00,Source Verified,May-2011,...,8,0.00,13476.00,68.10,11,f,INDIVIDUAL,NaN,0.00,"3383 Brian Plaza\r\nNorth Kristin, HI 48052"

Handling of data:
*   Index 208166 distorted data bcs field "title" included also "dti" and others (mistake in .txt file) -> removed from dataset
*   3 columns that should be numeric aren't. Hence datatype made numeric:
 *   revol_util
 *   total_acc
 *   mort_acc
*   annual_inc: 1x 0 -> dti 9999 -> how to handle?

## Data Cleaning

### Summary Statistics (before)

In [106]:
### Data length and info
n_data = len(data)
print("Number of data points: "+str(n_data)+"\n")

data.info()

Number of data points: 396029

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396029 entries, 0 to 396029
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             396029 non-null  int64
 1   term                  396029 non-null  object
 2   int_rate              396029 non-null  float64
 3   installment           396029 non-null  float64
 4   emp_title             373102 non-null  object
 5   emp_length            377728 non-null  object
 6   home_ownership        396029 non-null  object
 7   annual_inc            396029 non-null  float64
 8   verification_status   396029 non-null  object
 9   issue_d               396029 non-null  object
 10  loan_status           396029 non-null  object
 11  purpose               396029 non-null  object
 12  title                 394274 non-null  object
 13  dti                   396029 non-null  float64
 14  earliest_cr_line      396029 non-null  object
 15  open_acc              396029 non-null  int64
 16  pub_rec               396029 non-null  float64
 17  revol_bal             396029 non-null  float64
 18  revol_util            395753 non-null  float64
 19  total_acc             396029 non-null  int64
 20  initial_list_status   396029 non-null  object
 21  application_type      396029 non-null  object
 22  mort_acc              358234 non-null  float64
 23  pub_rec_bankruptcies  395494 non-null  float64
 24  address               396029 non-null  object
dtypes: float64(9), int64(3), object(13)
memory usage: 78.6+ MB

In [107]:
### Summary for numerical data
pd.set_option('display.float_format', lambda x: '%.2f' % x)
describe = data.describe()
describe.loc['dtype'] = data.dtypes

describe

,loan_amnt,int_rate,installment,annual_inc,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,mort_acc,pub_rec_bankruptcies
count,396029.00,396029.00,396029.00,396029.00,396029.00,396029.00,396029.00,396029.00,395753.00,396029.00,358234.00,395494.00
mean,14113.90,13.64,431.85,74203.24,17.38,11.31,0.18,15844.56,53.79,25.41,1.81,0.12
std,8357.45,4.47,250.73,61637.69,18.02,5.14,0.53,20591.86,24.45,11.89,2.15,0.36
min,500.00,5.32,16.08,0.00,0.00,0.00,0.00,0.00,0.00,2.00,0.00,0.00
25%,8000.00,10.49,250.33,45000.00,11.28,8.00,0.00,6025.00,35.80,17.00,0.00,0.00
50%,12000.00,13.33,375.43,64000.00,16.91,10.00,0.00,11181.00,54.80,24.00,1.00,0.00
75%,20000.00,16.49,567.30,90000.00,22.98,14.00,0.00,19620.00,72.90,32.00,3.00,0.00
max,40000.00,30.99,1533.81,8706582.00,9999.00,90.00,86.00,1743266.00,892.30,151.00,34.00,8.00
dtype,int64,float64,float64,float64,float64,int64,float64,float64,float64,int64,float64,float64

Possible Outliers:
*   dti -> income=0, credit_card, charged off

In [112]:
### Count NaN
pd.options.display.float_format = '{:.2%}'.format
nans = data.isnull().sum(axis = 0).to_frame()
nans["pct_nan"] =  nans / nans.sum()
nans

                          0  pct_nan
loan_amnt                 0    0.00%
term                      0    0.00%
int_rate                  0    0.00%
installment               0    0.00%
emp_title             22927   28.10%
emp_length            18301   22.43%
home_ownership            0    0.00%
annual_inc                0    0.00%
verification_status       0    0.00%
issue_d                   0    0.00%
loan_status               0    0.00%
purpose                   0    0.00%
title                  1755    2.15%
dti                       0    0.00%
earliest_cr_line          0    0.00%
open_acc                  0    0.00%
pub_rec                   0    0.00%
revol_bal                 0    0.00%
revol_util              276    0.34%
total_acc                 0    0.00%
initial_list_status       0    0.00%
application_type          0    0.00%
mort_acc              37795   46.32%
pub_rec_bankruptcies    535    0.66%
address                   0    0.00%

In [117]:
### Value count for non-numeric data
for col in data.columns:
  if data[col].dtype == "object":
    vc = data[col].value_counts().to_frame()
    vc["pct"] =  vc[col] / vc[col].sum()
    display(vc)

              term    pct
 36 months  302004 76.26%
 60 months   94025 23.74%

                                          emp_title   pct
Teacher                                        4389 1.18%
Manager                                        4250 1.14%
Registered Nurse                               1856 0.50%
RN                                             1846 0.49%
Supervisor                                     1830 0.49%
...                                             ...   ...
Coordinator of WEDnetPA Information Tech          1 0.00%
Freight Manager                                   1 0.00%
Rick Hendrick Toyota                              1 0.00%
lead electrition                                  1 0.00%
Pavia-Marting & Co.                               1 0.00%

[173104 rows x 2 columns]

           emp_length    pct
10+ years      126040 33.37%
2 years         35827  9.48%
< 1 year        31725  8.40%
3 years         31665  8.38%
5 years         26495  7.01%
1 year          25882  6.85%
4 years         23952  6.34%
6 years         20841  5.52%
7 years         20819  5.51%
8 years         19168  5.07%
9 years         15314  4.05%

          home_ownership    pct
MORTGAGE          198347 50.08%
RENT              159790 40.35%
OWN                37746  9.53%
OTHER                112  0.03%
NONE                  31  0.01%
ANY                    3  0.00%

                 verification_status    pct
Verified                      139563 35.24%
Source Verified               131385 33.18%
Not Verified                  125081 31.58%

          issue_d   pct
Oct-2014    14846 3.75%
Jul-2014    12609 3.18%
Jan-2015    11705 2.96%
Dec-2013    10618 2.68%
Nov-2013    10496 2.65%
...           ...   ...
Aug-2007       26 0.01%
Sep-2008       25 0.01%
Nov-2007       22 0.01%
Sep-2007       15 0.00%
Jun-2007        1 0.00%

[115 rows x 2 columns]

             loan_status    pct
Fully Paid        318357 80.39%
Charged Off        77672 19.61%

                    purpose    pct
debt_consolidation   234507 59.21%
credit_card           83019 20.96%
home_improvement      24029  6.07%
other                 21185  5.35%
major_purchase         8790  2.22%
small_business         5701  1.44%
car                    4697  1.19%
medical                4196  1.06%
moving                 2854  0.72%
vacation               2452  0.62%
house                  2201  0.56%
wedding                1812  0.46%
renewable_energy        329  0.08%
educational             257  0.06%

                                      title    pct
Debt consolidation                   152472 38.67%
Credit card refinancing               51487 13.06%
Home improvement                      15264  3.87%
Other                                 12930  3.28%
Debt Consolidation                    11608  2.94%
...                                     ...    ...
Paybackassured                            1  0.00%
Wells Fargo Debt Refinancing              1  0.00%
lendingclub personal loan                 1  0.00%
GET OUT OF DEBT NOW                       1  0.00%
IT Mgr Needs to Reduce Debt Balance       1  0.00%

[48816 rows x 2 columns]

          earliest_cr_line   pct
Oct-2000              3017 0.76%
Aug-2000              2935 0.74%
Oct-2001              2896 0.73%
Aug-2001              2884 0.73%
Nov-2000              2736 0.69%
...                    ...   ...
Nov-1959                 1 0.00%
Aug-1960                 1 0.00%
Apr-1958                 1 0.00%
Mar-1960                 1 0.00%
May-1955                 1 0.00%

[684 rows x 2 columns]

   initial_list_status    pct
f               238065 60.11%
w               157964 39.89%

            application_type    pct
INDIVIDUAL            395318 99.82%
JOINT                    425  0.11%
DIRECT_PAY               286  0.07%

                                                  address   pct
USS Johnson\r\nFPO AE 48052                             8 0.00%
USNS Johnson\r\nFPO AE 05113                            8 0.00%
USCGC Smith\r\nFPO AE 70466                             8 0.00%
USS Smith\r\nFPO AP 70466                               8 0.00%
USNS Johnson\r\nFPO AP 48052                            7 0.00%
...                                                   ...   ...
785 Conner Gardens\r\nLake Michaeltown, MN 05113        1 0.00%
482 Elliott Harbor\r\nEast Corey, IA 30723              1 0.00%
591 Hoffman Forest\r\nNew Tyler, CO 70466               1 0.00%
826 Davis Branch\r\nWeissview, HI 29597                 1 0.00%
3383 Brian Plaza\r\nNorth Kristin, HI 48052             1 0.00%

[393699 rows x 2 columns]

### Missing and wrong values

### Useless Variables

### Outliers

### Data Normalization

### Summary Statistics (final)

## Correlation Analysis Variables